#mainimage {
  height: 200px;
}

nav {
  padding: 16px 16px 16px 16px;
  border-bottom: 1px solid black;
  color: white;
}

nav {
  padding-left: 22px;
}

nav a {
  color: white;
}

header {
  border-bottom-color: 1 px black;
}

main {
  padding: 16;
}

h1 {
  color: #146152;
  padding-left: 22px;
}

h2 {
  padding-left: 22px;
}

a {
  color: #44803f;
  text-decoration: none;
}

footer {
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 0;
  padding-right: 0;
  background-color: #b4cf66;
}

footer p {
  padding-left: 22px;
}

header {
  background-color: #ff5a33;
  border-bottom: 1 px black;
}

ol {
  padding-bottom: 30px;
  padding-left: 22px;
  margin-inline-start: 22px;
}

table {
  padding-bottom: 30px;
  padding-left: 22px;
}

.container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
}

.grid-item {
  padding: 20px;
}

tr:nth-child(even) {
  background: lightgray;
}
